*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/back0.jpg)    
}
li{
    padding: 5px 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    color: black;
    font-size: 28px;
    width: 150px;
    margin-top: 161px;         /*убрать подчеркивание*/
    text-align: center;
    float: right;
    margin-right: 10px;
}
#logo{
    float: left;
}
.menu{
    width: 1000px;
    height: 211px;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
}