*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/back0.jpg)    
}
li{
    padding: 5px 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    color: black;
    font-size: 28px;
    width: 150px;
    margin-top: 161px;         /*убрать подчеркивание*/
    text-align: center;
    float: right;
    margin-right: 10px;
    background: white;
}
#logo{
    float: left;
}
.menu{
    width: 1000px;
    max-width: 90%;
    height: 211px;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
#slide1{
    width: 800px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
   }
#slide2{
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
   }
h4{
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
}
p{
    font-size: 18px;
    text-align: justify;
    width: 1000px;
    max-width: 90%;
    margin: auto;
 }
#gallery{
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px
}
.small{
    width: 300px;
    max-width: 30%;
    margin: auto;
    margin: 1.5%;
}