<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/back0.jpg);
    font-size: 90%;
}
.menu li{
    padding: 1% 2%;
    display: inline-block;
    font-size: 1.5em;       
    width: 16%;
    margin-top: 15%;         
    text-align: center;
    float: right;
    margin-right: 1%;
    background: #e8e0a4;
    border-radius: 15px;
}
.menu li:hover{
    border-bottom: 3px solid #9f0e9f;
}
.menu a{
    text-decoration: none;
    color: rgb(201, 62, 62);
}
#logo{
    float: left;
    width: 289px;
    max-width: 35%;
}
.menu{
    background: white;
    width: 1000px;
    max-width: 90%;
    height: 211px;              /*!!! высота*/
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
/*#slide1 {
width: 800px;
max-width: 90%;
margin: auto;
margin-top: 30px;
}
                            ???
#slide2 {
width: 400px;
max-width: 90%;
margin: auto;
margin-top: 30px;
}*/
.fotorama{
    width: 800px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
   }
h4{
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
}
p{
    font-size: 18px;
    text-align: justify;
    width: 1000px;
    max-width: 90%;
    margin: auto;
    background: white;
    margin-top: 30px;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
#gallery{
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px
}
.small{
    width: 300px;
    max-width: 30%;
    margin: auto;
    margin: 1.5%;
}
@media screen and (max-width: 765px) {
.small {
width: 359px;
max-width: 47%;
}
.menu li {font-size: 70%;
    width: 16%}
}

@media screen and (max-width: 400px) {
.small {
width: 610px;
max-width: 90%;
}
.menu li{font-size: 60%;
    width: 15%}
}
=======
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/back0.jpg)    
}
li{
    padding: 5px 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    color: black;
    font-size: 28px;
    width: 150px;
    margin-top: 161px;         /*убрать подчеркивание*/
    text-align: center;
    float: right;
    margin-right: 10px;
    background: white;
}
#logo{
    float: left;
}
.menu{
    width: 1000px;
    max-width: 90%;
    height: 211px;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
#slide1{
    width: 800px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
   }
#slide2{
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
   }
h4{
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
}
p{
    font-size: 18px;
    text-align: justify;
    width: 1000px;
    max-width: 90%;
    margin: auto;
 }
#gallery{
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px
}
.small{
    width: 300px;
    max-width: 30%;
    margin: auto;
    margin: 1.5%;
}
>>>>>>> origin/master
